@model string
@{
    string alertStatus = Model.StartsWith("Error") ? "alert-danger" : "alert-success";
}
<div class="alert @alertStatus alert-dismissible fade show" role="alert">
    @Model
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>