@model UpdateTownshipViewModel

<h4>Update Township</h4>
<hr />
<form id="updateTownshipForm">
    <input type="hidden" asp-for="TownshipId" />
    <div class="row mb-3">
        <label asp-for="RegionId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="RegionId" asp-items="@Model.RegionNames" class="form-control select2">
                <option value=""></option>
            </select>
            <span asp-validation-for="RegionId" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="DivisionId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="DivisionId" class="form-control select2" asp-items="@Model.DivisionNames">
                <option value=""></option>
            </select>
            <span asp-validation-for="DivisionId" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control"></>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Sort" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Sort" class="form-control"></>
        </div>
    </div>
    <button type="button" class="btn btn-primary updateBtn">Save</button>
</form>

@section Scripts {
    <script src="~/scripts/township/updatetownship.js" asp-append-version="true"></script>
}